/*!
    Theme Name: Bootstrap for Genesis
    Description: Bootstrap-powered Genesis child theme.
    Author: RecommendWP
    Author URI: http://www.recommendwp.com/
    Version: 1.0.7
    Tags: responsive-layout, white, blue, one-column, two-columns, three-columns, fixed-width, theme-options, bootstrap
    Template: genesis
    Template Version: 2.0
    License: GPL-2.0+
    License URI: http://www.opensource.org/licenses/gpl-license.php
    Bitbucket Theme URI: https://bitbucket.org/recommendwp/bootstrap-for-genesis
*/