.content {
	.entry {
		margin-bottom: $line-height-computed;
		.entry-header {
			margin-bottom: $line-height-computed;
			.entry-meta {
				color: $gray-light;
				font-size: 14px;
				margin-bottom: 0;
			}
		}

		.entry-content {

		}

		.entry-footer {
			.entry-meta {
				color: $gray-light;
				font-size: 14px;
				margin-bottom: 0;
			}
			.entry-categories, .entry-tags {
				display: block;
			}
		}
	}
}

.archive, .blog, .search, .single {
	.entry {
		border-bottom: 1px solid $gray-lighter;
		margin-bottom: $line-height-computed;
		padding-bottom: $line-height-computed;
	}
}