/** Genesis
----------------------------------------------------------------------------- */
.breadcrumb {
	margin-bottom: $line-height-computed;
}

.archive-description,
.author-box {
	background-color: #fff;
	font-size: 16px;
	margin-bottom: $line-height-computed;
	padding: $line-height-computed;
}

.author-box-title {
	font-size: 16px;
	margin-bottom: 4px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

.imgwrap {
	// @extend .thumbnail;
	margin-bottom: $line-height-computed;
}