.bfg-pagination-numeric ul {
    @extend .pagination;
}
.pagination-omission {
    position: relative;
    float: left; // Collapse white-space
    padding: $padding-base-vertical $padding-base-horizontal;
    line-height: $line-height-base;
    text-decoration: none;
    color: $pagination-color;
    background-color: $pagination-bg;
    border: 1px solid $pagination-border;
    margin-left: -1px;
}