/** Site Header
----------------------------------------------------------------------------- */
.site-header {
	.site-title {
		margin: 0;
		@extend .h1;
	}
	.site-description {
		color: $gray-light;
		font-family: $font-family-base;
		font-size: $font-size-base;
		// font-weight: $body-font-weight;
		margin: 0;
	}
}

/** Widgets
----------------------------------------------------------------------------- */
.widget {
	ul, ol {
		@extend .list-unstyled;
	}
}

/** Site Inner
----------------------------------------------------------------------------- */
.site-inner {
	padding: $line-height-computed*2 0;
}

// Sidebar
.sidebar {
	.widget {
		margin-bottom: $line-height-computed;
		.widgettitle {
			margin-bottom: $line-height-computed;
		}
	}
}

/** Footer Widgets
----------------------------------------------------------------------------- */
.footer-widgets {
	background: $gray-dark;
	border-bottom: 1px solid $gray-darker;
	color: $gray-lighter;
	padding: $line-height-computed*2 0;
	.widget {
		margin-bottom: $line-height-computed;
	}
	.widgettitle {
		@extend .h5;
		color: $gray-light;
		margin-bottom: $line-height-computed;
		text-transform: uppercase;
	}
	a {
		color: inherit;
		&:hover {
			color: $link-color;
		}	
	}
}

/** Site Footer
----------------------------------------------------------------------------- */
.site-footer {
	background: $gray-dark;
	color: $gray-lighter;
	font-size: 14px;
	padding: $line-height-computed/2 0;
	text-align: center;
	p {
		margin-bottom: 0;
	}

	a {
		color: inherit;
		&:hover {
			color: $link-color;
		}	
	}
}

/* ## Go to top
----------------------------------------------------------------------------- */
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}