/** Body 
----------------------------------------------------------------------------- */
body {
	font-weight: $body-font-weight;
}

/** Bootstrap
----------------------------------------------------------------------------- */
.label, .badge {
	@include border-radius(0);
}

.form-control {
	box-shadow: none;
	&:focus {
		box-shadow: none;
	}
}

/** Site Header
----------------------------------------------------------------------------- */
.site-header {
	background: $light-color;
	margin: 0;
	padding: $line-height-computed 0;
	.site-title {
		margin: 0;
	}
	.site-description {
		color: $gray-light;
		font-family: $font-family-base;
		font-size: $font-size-base;
		font-weight: $body-font-weight;
		margin: 0;
	}
}

.header-image {
	.site-title {
		display: block;
		text-align: center;
		@include tablet {
			display: inline-block;
		}
		a {
			@include hide-text();
		}
	}
	.site-description {
		display: none;
	}
}

/** Navigation 
----------------------------------------------------------------------------- */
.dropdown {
	& > li {
		& > a {
			font-weight: $body-font-weight;
		}
	}
}

.navbar-nav {
	& > li {
		.caret-down {
			@include tablet {
				display: none;
			}
			padding: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 46px;
			height: 46px;
		}
	}
	li {
		&.dropdown-submenu {
			.caret-down {
				width: 36px;
				height: 36px;
			}
		}
	}
}

.dropdown-menu {
	@include box-shadow(none);
}

.dropdown-submenu {
	position:relative;
	& > .dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -6px;
		margin-left: -1px;
	}
	.caret-right {
		@include tablet {
			display: none;
		}
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 36px;
		height: 36px;
	}
	&.pull-left {
		float: none;
		& > .dropdown-menu {
			left: -100%;
			margin-left: 10px;
		}
	}
}

/** Jumbotron
----------------------------------------------------------------------------- */
.jumbotron {
	margin-bottom: 0;
	padding: $line-height-computed*2 0;
}

/** Widgets
----------------------------------------------------------------------------- */
.widget {
	ul, ol {
		@extend .list-unstyled;
	}
}

/** Site Inner
----------------------------------------------------------------------------- */
.site-inner {
	padding: $line-height-computed*2 0;
}

// Sidebar
.sidebar {
	.widget {
		margin-bottom: $line-height-computed;
		.widgettitle {
			margin-bottom: $line-height-computed;
		}
	}
}

/** Footer Widgets
----------------------------------------------------------------------------- */
.footer-widgets {
	background: $gray-dark;
	border-bottom: 1px solid $gray-darker;
	color: $gray-lighter;
	padding: $line-height-computed*2 0;
	.widget {
		margin-bottom: $line-height-computed;
	}
	.widgettitle {
		@extend .h5;
		color: $gray-light;
		margin-bottom: $line-height-computed;
		text-transform: uppercase;
	}
	a {
		color: inherit;
		&:hover {
			color: $link-color;
		}	
	}
}

/** Site Footer
----------------------------------------------------------------------------- */
.site-footer {
	background: $gray-dark;
	color: $gray-lighter;
	font-size: 14px;
	padding: $line-height-computed 0;
	.copyright {
		text-align: center;
		margin-bottom: $line-height-computed/2;
		@include tablet {
			margin-bottom: 0;
			text-align: left;
			.no-widget-area & {
				text-align: center;
			}
		}
	}
	a {
		color: inherit;
		&:hover {
			color: $link-color;
		}	
	}
	ul {
		@extend .list-inline;
		margin-bottom: 0;
		text-align: center;
		@include tablet {
			text-align: right;
		}
	}
}