/** Widgets
----------------------------------------------------------------------------- */
/** Recent Posts  */
.widget_recent_entries {
	li {
		margin-bottom: 12px;
		a {
			color: $text-color;
			font-family: $headings-font-family;
            font-weight: $headings-font-weight;
            .footer-widgets & {
            	color: $gray-lighter;
            }
			&:hover {
				color: $link-color;
			}
		}
		span {
			color: $gray-light;
			display: block;
			font-family: $font-family-sans-serif;
			font-size: 12px;
		}
	}
}

/** Recent Comments **/
.widget_recent_comments {
	ul {
		li {
			a {
				color: inherit;
				&:hover {
					color: $link-color;
				}
			}
		}
	}
}

/** Category Widget **/
.widget_categories, .widget_archive {
	select {
		@extend .form-control;
	}
	ul, ol {
		@extend .list-unstyled;
		ul,ol {
			margin-left: $line-height-computed;
		}
		li {
			a {
				color: inherit;
				&:hover {
					color: $link-color;
				}
			}
			span {
				float: right;
			}
		}
	}
}

/** Tag Cloud Widget */
.widget_tag_cloud {
	.tagcloud {
		font-size: 0;
		a {
			@extend .btn;
			@extend .btn-default;
			@extend .btn-xs;
			font-size: 12px !important;
			margin-right: 4px;
			margin-bottom: 4px;
			.sidebar & {
				@extend .btn-primary;
			}
		}
	}
}

/** Genesis Featured Post **/
.featuredpost {
	.entry {
		padding: 0;
		margin: 0;
		border-bottom: 0;
		.entry-header {
			margin-bottom: 5px;
			.entry-title {
				font-size: 16px;
			}
		}
	}
}

/** Calendar Widget
----------------------------------------------------------------------------- */
.widget_calendar {
	table {
		@extend .table;
		@extend .table-responsive;
		@extend .table-striped;
		caption {
			text-align: center;
			text-transform: uppercase;
		}
	}
}

/** Navigation Widget
----------------------------------------------------------------------------- */
.widget_nav_menu {
	.footer-widgets & {
		ul {
			@extend .row;
			li {
				@include column(6);
				margin-bottom: ($line-height-computed / 2);
			}
		}
	}
}