/*!
 * Theme Name: Bootstrap for Genesis
 * Author: Rotsen Mark Acob
 * Author URI: https://webdevsuperfast.github.io/
 * Description: Bootstrap-powered Genesis child theme.
 * Version: 2.0.2
 * License: GPL-2.0
 * License URI: http://www.opensource.org/licenses/gpl-license.php
 * Tags: two-columns, three-columns, left-sidebar, right-sidebar, accessibility-ready, custom-logo, featured-images, footer-widgets, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready
 * Text Domain: bootstrap-for-genesis
 * Domain Path: /languages
 * Template: genesis
 */

// Bootstrap Core Variable Override
@import "supporting/variables-bootstrap-core-override";

// Import Bootstrap Core
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Bootstrap Genesis Theme Variables
@import "supporting/variables-bootstrap-genesis";

// Screen Reader Classes
@import "supporting/screen-reader-text";

// Long nonbreaking path name support
@import "supporting/long-nonbreaking-path-name-support";

// Skip to Main Content - Accessibility Link
@import "supporting/skip-to-main-content";

// Comments
@import "supporting/comments";

// Images
@import "supporting/wordpress-images";

// Table
@import "supporting/table";

// Widgets
@import "supporting/widgets";

// Plugins
@import "supporting/plugin";

// Pagination
@import "supporting/pagination";

@import "supporting/gallery";

// Navigation
@import "supporting/nav";

// Header
@import "supporting/header";

// Jumbotron
@import "supporting/jumbotron";

// Site Inner
@import "supporting/site-inner";

// Archive/Blog
@import "supporting/archive";

// Single Post/Page
@import "supporting/single";

// Sidebar
@import "supporting/sidebar";

// Footer Widgets
@import "supporting/footer-widgets";

// Site Footer
@import "supporting/footer";