@import "supporting/variables-bootstrap-core-override";

/* Import Bootstrap Core
----------------------------------------------------------------------------- */
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/* Import Fontawesome
----------------------------------------------------------------------------- */
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

/* Screen Reader Classes
----------------------------------------------------------------------------- */
@import "supporting/screen-reader-text";

/* Long nonbreaking path name support
 * see http://wptest.io/demo/non-breaking-text/
----------------------------------------------------------------------------- */
@import "supporting/long-nonbreaking-path-name-support";

/* Skip to Main Content - Accessibility Link
----------------------------------------------------------------------------- */
@import "supporting/skip-to-main-content";

/* Comments
----------------------------------------------------------------------------- */
@import "supporting/comments";

/* WordPress Images
----------------------------------------------------------------------------- */
@import "supporting/wordpress-images";

/* Table
----------------------------------------------------------------------------- */
@import "supporting/table";

/* Widgets
----------------------------------------------------------------------------- */
@import "supporting/widgets";

/* Pagination
----------------------------------------------------------------------------- */
@import "supporting/pagination";

/* Theme
----------------------------------------------------------------------------- */
@import "supporting/theme";
