$vars: txt, bg, btn;

@each $var in $vars {
	$colors: (light-color, #fff), (light-blue, #23B0E2), (medium-blue, #305060), (dark-blue, #012A44), (orange, #ffb70d), (light-gray, #eaeaea), (medium-gray, #8c9293);
	
	@each $color, $value in $colors {
		.#{$var}-#{$color} {
			@if ($var == txt) {
				color: $value;
			}
			
			@if ($var == bg) {
				background-color: $value;
			}
			
			@if ($var == btn) {
				@include button-variant($light-color, $value, $value);
			}
		}
	}
}