// Bootstrap Font
$icon-font-path: "assets/fonts/bootstrap/";

// Typography
$font-family-sans-serif: "Roboto", sans-serif;

$body-font-weight: 300;

$headings-font-family: "Raleway", sans-serif;
$headings-font-weight: 500;

$font-size-base: 16px;
$line-height-base: 1.625;

// Colors
$light-color: #fff !default;

// Navbar
$navbar-margin-bottom: 0;