/* Archive/Blog Styling
----------------------------------------------------------------------------- */

body.archive,
body.blog {
    .post {
        border-bottom: 1px solid $hr-border-color;
        padding-bottom: $spacer;
        margin-bottom: $spacer;
    }
}

.entry-image-link {
    display: inline-block;
    margin-bottom: $spacer;
}
