// Comments
.entry-comments {
	margin-bottom: $spacer;
	h3 {
		margin-bottom: $spacer;
	}
	.comment {
		margin: 0;
		margin-bottom: $spacer;
		&.parent {
			margin-bottom: 0;
		}
		.media-left {
			img {
				max-width: inherit;
			}
		}
	}
	.children {
		margin-top: $spacer;
        list-style: none;
	}
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
    width: 50%;
}

// Trackbacks
.entry-pings {
	.pingback {
		margin-bottom: $spacer;
		padding-bottom: $spacer;
	}
}

.ping-list {
	@include list-unstyled;
}
