/* Footer Widgets
----------------------------------------------------------------------------- */
.footer-widgets {
    border-bottom: 1px solid $hr-border-color;
    padding: $spacer*4 0;
    ul, ol {
        @include list-unstyled;
        li {
            margin-bottom: $spacer;
        }
    }
    .widgettitle {
        margin-bottom: $spacer*2;
    }
    &.text-muted {
        .widgettitle {
            color: #fff;
        }
        a {
            &:hover {
                color: #fff;
            }
        }
    }
    &.bg-primary {
        a {
            &:hover {
                color: #fff;
            }
        }
    }
}
