/* ## Gallery
----------------------------------------------------------------------------- */
.gallery {
    @include make-row;
}

.gallery-item {
    @include make-col-ready;
    text-align: center;
    .gallery-columns-2 & {
        @include media-breakpoint-up(sm) {
            @include make-col(6,12);
        }
    }
    .gallery-columns-3 & {
        @include media-breakpoint-up(sm) {
            @include make-col(4);
        }
    }
    .gallery-columns-4 & {
        @include media-breakpoint-up(sm) {
            @include make-col(3);
        }
    }
    .gallery-columns-5 & {
        @include media-breakpoint-up(sm) {
            @include make-col(1,5);
        }
    }
    .gallery-columns-6 & {
        @include media-breakpoint-up(sm) {
            @include make-col(1,6);
        }
    }

    .gallery-columns-7 & {
        @include media-breakpoint-up(sm) {
            @include make-col(1,7);
        }
    }

    .gallery-columns-8 & {
        @include media-breakpoint-up(sm) {
            @include make-col(1,8);
        }
    }

    .gallery-columns-9 & {
        @include media-breakpoint-up(sm) {
            @include make-col(1,9);
        }
    }

    .gallery-icon {
        margin-bottom: $spacer;
    }

    img {
        @include img-fluid;
        padding: $thumbnail-padding;
        background-color: $thumbnail-bg;
        border: $thumbnail-border-width solid $thumbnail-border-color;
        @include border-radius($thumbnail-border-radius);
        @include transition($transition-base);
        @include box-shadow($thumbnail-box-shadow);
    }
}