/* Home Featured
----------------------------------------------------------------------------- */
.jumbotron {
    border-radius: 0;
    margin-bottom: 0;
    padding: {
        right: 0;
        left: 0;
    }
}