/* Site Inner
----------------------------------------------------------------------------- */
.site-inner {
    padding: $spacer*4 0;
    .content {
        margin-bottom: $spacer;
        @include media-breakpoint-up(sm) {
            margin-bottom: 0;
        }
    }
}